<!DOCTYPE html>

<html lang="pt-br">
<head>
    <link rel="shortcut icon" type="imagem/x-icon" href="~/Imagens/logo.webp" />
    <meta charset="utf-8">
    <title>Teste SmartHint</title>
    <meta content="Desenvolvido Por: Marcos" name="description">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/resources/lib/css/bootstrap.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/resources/lib/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/resources/lib/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/resources/lib/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="~/resources/lib/pagedlist/PagedList.css" />


</head>



<body>


    <div>
        @RenderBody()

    </div>
    <!-- FOOTER -->



</body>
</html>
